*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3498db, #2ecc71);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.profile-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-info {
    padding: 20px;
}

.profile-info h1 {
    margin: 0;
    color: #333;
}

.profile-info p {
    color: #777;
}
.im{
    height: 60px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: aqua;
}
